<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    
    
    
</head>
        
    <body>
        <%- include('nav')%>
        <div class="container">
            <h1>Task List</h1>
            <form action="/multi-delete" method="post">
                <button class="delete-item" style="margin-bottom: 10px;">Delete Selected-Task</button>
                <ul class="task-list">
                    <% for(let task=0;task<result.length; task++){ %>
                        <li class="task-item">
                            <div class="task-tittle">
                            <%= result[task].tittle  %>
                            </div>
                            <div class="task-des">
                            <%= result[task].Description %>
                            </div>
                            <input type="checkbox" name="SelectTask" value="<%= result[task]._id %>" id="">
                            <a href="/delete/ <%= result[task]._id  %>" class="delete">Delete Task</a>
                             <a href="/update/ <%= result[task]._id  %>" class="update">Update Task</a>

                        </li>
                        <% } %>
                    
                </ul>
                </form>

        </div>
        
    </body>
</body>
</html>